*{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Arial',sans-serif;
    font-size: 16px;
    background: #f2f2f2;
}

a{
    text-decoration: none;
}


.contenedor{
    width: 80%;
    max-width: 1000px;
    margin: 30px auto;
    overflow: hidden;

}


h2{
    display: block;
    margin-top: 1px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #555;
}

.barra__buscador{
    width: 100%;
    margin-top: 1px;
    margin-bottom: 10px;
}

.formulario{
    display: flex;
    width: 100%;
    overflow: hidden;
}

form .input__text{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #848688;
    display: block;
    font-size: 14px;
    margin-bottom: 15px;
    padding: 10px 15px;
    max-width: 30%;
    margin-right: 10px;
    outline: medium none;
}


form .input__text:focus{
    border: 1px solid #1b743c;
}
form .form-group{
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
}

form .form-group .input__text{
    max-width: 45% !important;
}


form .btn{
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #fff;
    display: block;
    font-size: 14px;
    background: rgb(3, 113, 163);
    margin-bottom: 15px;
    padding: 10px 20px;
    margin-right: 10px;
    outline: medium none;
    cursor: pointer;
}
.btn__nuevo{
    float: right;
    background: #1b743c !important;
}

.btn__group{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.btn__primary{
    background: rgb(3, 113, 163);
}
.btn__danger{
    background: #8a0505 !important;
}


/* table */
table{
    width: 98%;
    border-collapse: collapse;
    text-align: center;
    margin: 1%;
}

table .head{

    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 29%, rgba(1,75,160,1) 69%); 
    
}
table .head th{
    color: #fff;
    font-family: 'Arial',sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding: 15px;
    
}

table tr {
    border:1px solid #ccc;
    padding: 15px;
    font-size: 14px;
    background-color: #F5F5F5;
}

table td {
   
    padding: 15px;
    font-size: 14px;
}



.btn__update{
    display: inline-block;
    font-size: 14px;
    background: rgb(3, 113, 163);
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
}

.btn__delete{
    display: inline-block;
    font-size: 14px;
    justify-content: last baseline;
    background: #d43f3a;
    border-color:   #1E90FF;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
}

.zona1 .contenedorCatalogo .barra__buscador .formulario .imgButton{
    width: 10px;
    right: 10px;
}

table .imgButton {
    width: 12px;
    right: 12px;
}
.notItemOne option:first-child{
    display: none;
}
.upiim, .notBlock{
    display: none !important;
}
.btnex{
  background: #1b743c;
}