

.zona1{
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: auto;
    margin: 4%;
    padding: 15px;
    margin-top: 15ch;
    background-size: cover;
    background-position: center;
    box-shadow: 7px 13px 37px rgb(0, 0, 0);
    border-radius: 8px;
    



}

/*
texto de la esquina
*/

.tex1{
    font-family: Verdana;
    width: auto;
    margin: auto;
    padding: 30px;
}



/*:::::Pie de Pagina*/
.pie-pagina{
    width: auto;

    font-family: Verdana;
    text-align: right;
    justify-content: left;
    margin: auto;
    height: auto;
    color: #014ba0;
}
.pie-pagina .grupo-1{
    width: auto;
    max-width: auto;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:100px;
}
.pie-pagina .grupo-1 .box figure{

    width: auto;
    height: auto;
    padding: auto;
    display: flex;
    justify-content:flex;
    align-items: center;
}
.tex2{
    width: auto;
    height: auto;
    display: flex;
    justify-content:right;
    align-items: center;
    text-align: right;
}

.pie-pagina .grupo-1 .box figure img{
    width: 90px;
}

.horizontal {
    border-collapse: separate;
    border-spacing: 10px ;
    border: 20px solid rgba(255, 255, 255, 0);
}


 
.redondeado{
    padding: .2em 1em;
    border-radius: 5px;
    border-color: #69676723;
    background-color: transparent;
    width: 100%;
    background-color: #6967670a;
    font-size: 1.2rem;
    color: rgba(22, 14, 14, 0.623);
    letter-spacing: .5px;
}

label{
    font-family: Verdana;
}

.botons{
    font-family: Verdana;
}

.btn__update{
    display: inline-block;
    font-size: 14px;
    background: #1b743c;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
}

.btn__delete{
    display: inline-block;
    font-size: 14px;
    justify-content: last baseline;
    background: #8a0505;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
}


