

/*
formulario
*/
h2{
    display: block;
    margin-top: 1px;
    text-align: center;
    font-family: 'verdana';
    color: #555;
}


h4{
    font-family: Verdana;
    font-size: 15px;
    margin-top: 1ch;
    font-weight: 300;
}



.row{
    font-family: Verdana;
    font-size: 12px;
    flex-direction: row;
    justify-content:right;
    height: auto;
    margin: auto;
    padding: 20px;
    margin-top: 2ch;
    width: auto;
    max-width: auto;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:10px;
    font-weight: bold;
}

legend{
    font-family: Verdana;
}

fieldset {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
 }

 fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

fieldset {
    padding: 0.35em 0.625em 0.75em;
    margin: 0 2px;
    border: 1px solid #c0c0c0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
     }


   

    hr {
        border-color: rgba(167, 164, 164, 0.181);
      }

    .btn-btn-primary{
        background: linear-gradient(90deg, rgb(44, 37, 188) 0%, rgb(13, 13, 122) 29%, rgb(12, 85, 168) 69%);
        color: #fff;
        width: auto;
        font-weight: bold;
        padding: 12px;
        text-align: center;
        border-radius: 5px;
        font-family: Verdana;
        font-size: auto;
        border: #fff;
    }
    
    .btn-btn-primary:hover{
        background: linear-gradient(90deg, rgba(96,203,209,1) 0%, rgba(7,144,186,1) 34%, rgba(38,138,254,1) 80%);
        color: #fff;
        font-weight: bold;
        border: #fff;

    }
    .contenedor{
        display: flex;
        width: 100%;
        height: 30px;
        margin: 1ch;
        border-radius: 5px;
        border-color: rgb(218, 218, 218);
        padding: 10px;
        

    }
    .select{
        width: 100%;
        height: 37px;
        margin: 1ch;
        border-radius: 5px;
        padding: 10px;
        

    }
