*{
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 20px 10px;
    z-index: 0;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 29%, rgba(1,75,160,1) 69%);

}
header.abajo{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 29%, rgba(1,75,160,1) 69%);
    padding: 20px 10px;
}
header .logo{
    position: relative;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    transition: 1.5s;
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
}

header ul li a{
    position: relative;
    font-family:Verdana;
    font-size: 12px;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    transition: 0.7s;
    display: block;

}
header ul li a:hover{
    background-color: #1daffdd4;
    padding: 15px 0;

}

.zona1{
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: auto;
    margin: 4%;
    padding: 15px;
    margin-top: 15ch;
    background-size: cover;
    background-position: center;
    box-shadow: 7px 13px 37px rgb(0, 0, 0);
    border-radius: 8px;
    



}
header.abajo .logo,
header.abajo ul li a{
    color: rgb(255, 255, 255);
}

.logoin{
    width: 22%;
    margin: auto;
    padding: 3ch;
    display: flex;
    justify-content: center;

   
}


.icono1{
    width: 100px;
    right: 100px;
}

/*botones*/

div.botons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 92%;
    height: auto;
    margin: auto;
    padding: 20px;
    margin-top: 0ch;
}

div.contenedor{
    width: 160px;
    right: 100px;
}
div.contenedor1{
    width: 320px;
    right: 100px;
}


div#uno{
    background-color: #00003d ;
    border-style: solid;
    border-width: 8px;
    border-color: #fff;
    text-decoration: none;
}
div#dos{
    background-color: #00276c;
        border-style: solid;
    border-width: 8px;
    border-color: #fff;
}div#tres{
    background-color: #014ba0;
        border-style: solid;
    border-width: 8px;
    border-color: #fff;
}div#cuatro{
    background-color: #5b7dcf;
        border-style: solid;
    border-width: 8px;
    border-color: #fff;
}div#sinco{
    background-color: #96b3ff;
        border-style: solid;
    border-width: 8px;
    border-color: #fff;
}div#seis{
    background-color: #00003d ;
        border-style: solid;
    border-width: 8px;
    border-color: #fff;
}div#siete{
    background-color: #00276c;
        border-style: solid;
    border-width: 8px;
    border-color: #fff;
}div#ocho{
    background-color: #014ba0;
        border-style: solid;
    border-width: 8px;
    border-color: #fff;
}div#nueve{
    background-color: #5b7dcf;
        border-style: solid;
    border-width: 8px;
    border-color: #fff;
}div#diez{
    background-color: #96b3ff;
        border-style: solid;
    border-width: 8px;
    border-color: #fff;
}div#once{
    background-color: #00003d;
        border-style: solid;
    border-width: 8px;
    border-color: #fff;
}div#doce{
    background-color: #00276c;
        border-style: solid;
    border-width: 8px;
    border-color: #fff;
}div#trece{
    background-color: #014ba0;
        border-style: solid;
    border-width: 8px;
    border-color: #fff;
}

img.icon{
    display: block;
    margin: 50px auto;
    background-color: rgba(255,255,255,.15);
    width: 40px;
    padding: 20px;
    border-radius: 50%;
}
p.texto{
    font-family: Verdana;
    font-size: 1em;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1ch;
    opacity: .8;
}

/*
texto de la esquina
*/

.tex1{
    font-family: Verdana;
    width: auto;
    margin: auto;
    padding: 30px;
}



/*:::::Pie de Pagina*/
.pie-pagina{
    width: auto;

    font-family: Verdana;
    text-align: right;
    justify-content: left;
    margin: auto;
    height: auto;
    color: #014ba0;
}
.pie-pagina .grupo-1{
    width: auto;
    max-width: auto;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:100px;
}
.pie-pagina .grupo-1 .box figure{

    width: auto;
    height: auto;
    padding: auto;
    display: flex;
    justify-content:flex;
    align-items: center;
}
.tex2{
    width: auto;
    height: auto;
    display: flex;
    justify-content:right;
    align-items: center;
    text-align: right;
}

.pie-pagina .grupo-1 .box figure img{
    width: 90px;
}

.horizontal {
    border-collapse: separate;
    border-spacing: 10px ;
    border: 20px solid rgba(255, 255, 255, 0);
}


 
.redondeado{
    padding: .2em 1em;
    border-radius: 5px;
    border-color: #69676723;
    background-color: transparent;
    width: 100%;
    background-color: #6967670a;
    font-size: 1.2rem;
    color: rgba(22, 14, 14, 0.623);
    letter-spacing: .5px;
}

label{
    font-family: Verdana;
}

.botons{
    font-family: Verdana;
}

.btn__update{
    display: inline-block;
    font-size: 14px;
    background: #1b743c;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
}

.btn__delete{
    display: inline-block;
    font-size: 14px;
    justify-content: last baseline;
    background: #8a0505;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
}